* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
}
// variable
$primarycolor: #83c124;
$secondrycolor: #2d5767;
.btn-green {
  background-color: $primarycolor;
  padding: 13px 25px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 7px;
}
body {
  background-color: #f7f8f9;
}
.addservice{
    margin-top: 30px;
  .container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 70% !important;
    margin: auto;
    h3 {
     margin: 20px 0px; 
    }
    .content{
        form{
            label{
                font-weight: bold;
            }
        }
    }
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .addservice{
    .container{
        width: 90% !important;
        margin: auto !important;
    }
 }
  }